# Lambdas, udef, filter, map

The goverment made a socilogical study of citizens at mid-40's. They gathered the following data:

In [5]:
citizens = [{ 'First Name': 'Preston' , 'Last Name': 'Cunningham', 'Age': 49 , 'Education': 'Doctoral', 'Occupation':' Teacher' ,'Experience (Years)': 6, 'Salary': 62499}, 
 { 'First Name': 'Madaline', 'Last Name': 'Farrell', 'Age': 41, 'Education': 'Bachelor', 'Occupation': 'Insurer','Experience (Years)': 16, 'Salary': 50190},
 { 'First Name': 'Eleanor', 'Last Name': 'Carter', 'Age': 49, 'Education': 'Lower secondary', 'Occupation': 'Programmer','Experience (Years)': 18, 'Salary': 189716},
 { 'First Name': 'Adison', 'Last Name': 'Hall', 'Age': 42 , 'Education': 'Bachelor', 'Occupation': 'Florist','Experience (Years)': 21, 'Salary': 34517},
 { 'First Name': 'Grace', 'Last Name': 'Cooper', 'Age': 49, 'Education': 'Master', 'Occupation': 'Singer','Experience (Years)': 9, 'Salary': 51994},
 { 'First Name': 'Alford', 'Last Name': 'Kelley', 'Age': 49, 'Education': 'Bachelor', 'Occupation': 'Aeroplane Pilot','Experience (Years)': 9, 'Salary': 170466},
 { 'First Name': 'Vincent', 'Last Name': 'Anderson', 'Age': 47, 'Education': 'Master', 'Occupation': 'Botanist','Experience (Years)': 6, 'Salary': 71617},
 { 'First Name': 'Myra', 'Last Name': 'Wright', 'Age': 45, 'Education': 'Master', 'Occupation': 'Geologist' ,'Experience (Years)': 18, 'Salary': 48786},
 { 'First Name': 'Chester', 'Last Name':'Bennett', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Astronomer','Experience (Years)': 13, 'Salary': 44826},
 { 'First Name': 'Blake', 'Last Name': 'Tucker', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Firefighter','Experience (Years)': 21, 'Salary': 36761},
 { 'First Name': 'Paige', 'Last Name': 'Ryan', 'Age': 43, 'Education': 'Primary', 'Occupation': 'Fine Artist','Experience (Years)': 19, 'Salary': 28181},
 { 'First Name': 'Natalie', 'Last Name': 'Ellis', 'Age': 45, 'Education': 'Bachelor', 'Occupation': 'Baker','Experience (Years)': 0, 'Salary': 31194},
 { 'First Name': 'Martin', 'Last Name': 'Thompson', 'Age': 47, 'Education': 'Bachelor', 'Occupation': 'Journalist','Experience (Years)': 21, 'Salary': 90183},
 { 'First Name': 'Alan', 'Last Name': 'Sullivan', 'Age': 46, 'Education': 'Doctoral', 'Occupation': 'Singer','Experience (Years)': 2, 'Salary': 18440},
 { 'First Name': 'Inga', 'Last Name': 'Bergman', 'Age': 41, 'Education': 'Bachelor', 'Occupation': 'Producer','Experience (Years)': 22, 'Salary': 80029},
 { 'First Name': 'Freddy', 'Last Name': 'Brown', 'Age': 48, 'Education': 'Bachelor', 'Occupation': 'Economist','Experience (Years)': 18, 'Salary': 146217},
 { 'First Name': 'Adelaide', 'Last Name': 'Farrell', 'Age': 42, 'Education': 'Bachelor', 'Occupation': 'Mechanic','Experience (Years)': 9, 'Salary':19414},
 { 'First Name': 'Luke', 'Last Name': 'Cooper', 'Age': 40, 'Education': 'Upper secondary', 'Occupation': 'Producer','Experience (Years)': 17, 'Salary': 160541},
 { 'First Name': 'Sofia', 'Last Name': 'Hall', 'Age': 41, 'Education': 'Doctoral', 'Occupation': 'Baker','Experience (Years)': 1, 'Salary': 25904},
 { 'First Name': 'Ashton', 'Last Name': 'Kelly', 'Age': 49, 'Education': 'Master', 'Occupation': 'Chef','Experience (Years)': 6, 'Salary': 95533}
]

The goverment wants to know some things about this sample of citizens.

## Exercise 1:

1. Create a user defined function to compute the mean of a list of numbers.
2. Use python code to store the ages of the citizens inside a list.
3. Use your function to compute the mean age (round the mean age to one decimal) using `round()`

Expected result:

```python
"The mean age of the citizens is: average_age years"
```

replacing `average_age` by the correspoding value.

In [88]:
def datos(dato):
    '''
    Recorremos la lista de diccionarios, sacamos los datos que queremos y los guardamos en una lista
    '''
    lista= []
    for i in citizens:
        lista.append(i[dato])
    return lista
age = datos('Age')
print(age)

[49, 41, 49, 42, 49, 49, 47, 45, 42, 42, 43, 45, 47, 46, 41, 48, 42, 40, 41, 49]

In [7]:
def media(lista):
    '''
    Le pasamos una lista con distintas edades y luego hacemos la media.
    '''
    suma = sum(lista)
    media = round(suma/len(lista), 0)
    return 'The mean age of the citizens is: ' + str(media)

media(age)

'The mean age of the citizens is: 45.0'

# Exercise 2:

1. What are the unique educational levels?  
2. How many unique educational levels are?
3. What are the unique ocupations?
4. How many unique ocupations are?

In [28]:
education = datos('Education')
ocupations = datos('Occupation')
def unic(valores):
    unicos = []
    '''
    Le pasamos los datos a examinar, que son los valores, y guardamos los valores únicos en la lista unicos.
    '''
    for i in range(len(valores)):
        num = valores.count(valores[i])
        if num == 1:
            unicos.append(valores[i])
    return unicos

unicos = unic(education)      
print('The unic education values are ' + str(unicos) + '\n')
print('They are ' + str(len(unicos)) + ' unic educational levels' + '\n')
unicos1 = unic(ocupations)
print('The unic ocupations values are ' + str(unicos1) + '\n')
print('They are ' + str(len(unicos1)) + ' unic ocupational levels' + '\n')

The unic education values are ['Lower secondary', 'Primary', 'Upper secondary']

They are 3 unic educational levels

The unic ocupations values are [' Teacher', 'Insurer', 'Programmer', 'Florist', 'Aeroplane Pilot', 'Botanist', 'Geologist', 'Astronomer', 'Firefighter', 'Fine Artist', 'Journalist', 'Economist', 'Mechanic', 'Chef']

They are 14 unic ocupational levels

# Exercise 3:

1. Provide a new list in which avery element is another dictionary which only contains:

* 'First Name'
* 'Last Name'
* and at which age they started working?
   ( substract from the age the years of experience )

Expected output:

```python
[{ 'First Name': name, 'Last Name': last_name,'Starting age': 27},
 ...
]
```

In [79]:
name = datos('First Name')
l_name = datos('Last Name')
year_exp= datos('Experience (Years)')
year_exp.insert(11, 0)


def edad_inicio(age, years):
    '''
    Restamos los años de trabajo a los años.
    '''
    lista = []
    for i in range(len(years)):
        inicio = age[i] - years[i]
        lista.append(inicio)
    return lista

start_age = edad_inicio(age, year_exp ) 

def diccionario(lista1, lista2, lista3):
    '''
    Esta función coge el primer elemento de cada lista y lo transforma a diccionario. Para después borrar dicho elemento de la lista.
    '''
    lista = []
    for j in range(len(lista1)):
        dicc = {}
        dicc['First Name']=lista1[0]
        lista1.pop(0)
        dicc['Last Name'] = lista2[0]
        lista2.pop(0)
        dicc['Experience (Years)'] = lista3[0]
        lista3.pop(0)
        lista.append(dicc)
        
    return lista

    
diccionario(name, l_name, year_exp)

[{'First Name': 'Preston', 'Last Name': 'Cunningham', 'Starting age': 6},
 {'First Name': 'Madaline', 'Last Name': 'Farrell', 'Starting age': 16},
 {'First Name': 'Eleanor', 'Last Name': 'Carter', 'Starting age': 18},
 {'First Name': 'Adison', 'Last Name': 'Hall', 'Starting age': 21},
 {'First Name': 'Grace', 'Last Name': 'Cooper', 'Starting age': 9},
 {'First Name': 'Alford', 'Last Name': 'Kelley', 'Starting age': 9},
 {'First Name': 'Vincent', 'Last Name': 'Anderson', 'Starting age': 6},
 {'First Name': 'Myra', 'Last Name': 'Wright', 'Starting age': 18},
 {'First Name': 'Chester', 'Last Name': 'Bennett', 'Starting age': 13},
 {'First Name': 'Blake', 'Last Name': 'Tucker', 'Starting age': 21},
 {'First Name': 'Paige', 'Last Name': 'Ryan', 'Starting age': 19},
 {'First Name': 'Natalie', 'Last Name': 'Ellis', 'Starting age': 0},
 {'First Name': 'Martin', 'Last Name': 'Thompson', 'Starting age': 21},
 {'First Name': 'Alan', 'Last Name': 'Sullivan', 'Starting age': 2},
 {'First Name': 'Inga', 'Last Name': 'Bergman', 'Starting age': 22},
 {'First Name': 'Freddy', 'Last Name': 'Brown', 'Starting age': 18},
 {'First Name': 'Adelaide', 'Last Name': 'Farrell', 'Starting age': 9},
 {'First Name': 'Luke', 'Last Name': 'Cooper', 'Starting age': 17},
 {'First Name': 'Sofia', 'Last Name': 'Hall', 'Starting age': 1},
 {'First Name': 'Ashton', 'Last Name': 'Kelly', 'Starting age': 6}]

# Exercise 4:

1. Can you provide a dictionary which contains **unique** `Education` levels and the corresponding mean salary?
2. Do the same but by `Occupation`

Expected outputs:

```python
{'Doctoral': mean_salary_doctorals,
 'Bachelor': mean_salaty_bachelors,
...}
```

```python
{'Teacher': mean_salary_teachers,
 'Insurer': mean_salaty_insurers,
...}
````

**CAVEAT!!** The statement says: UNIQUE!!!

In [89]:
'''diccion = {'eso': [1,2,3], 'bachiller': [2,5,6]}
diccion['uni'] = [4]
diccion['eso'].append(5)
diccion'''

{'eso': [1, 2, 3, 5], 'bachiller': [2, 5, 6], 'uni': [4]}

In [106]:

def dicc_media(valor1, valor2):
    '''
    Nos añade a un diccionario vacio los distintos valores de educación y una lista de sus salarios correspondientes. 
    Además, nos calcula la media de dichos salarios
    '''
    diccion = {}
    for i in citizens:
        if i[valor1] not in diccion.keys():
            diccion[i[valor1]] = [i[valor2]]

        else:
            diccion[i[valor1]].append(i[valor2])
    for keys in diccion.keys():
        diccion[keys] = sum(diccion[keys])/len(diccion[keys])

    return diccion

educ_salar = dicc_media('Education','Salary')
print(educ_salar)
ocup_salar = dicc_media('Occupation', 'Salary')
print(ocup_salar)

{'Doctoral': 37686.0, 'Bachelor': 77776.25, 'Lower secondary': 189716.0, 'Master': 66982.5, 'Primary': 28181.0, 'Upper secondary': 160541.0}
{' Teacher': 62499.0, 'Insurer': 50190.0, 'Programmer': 189716.0, 'Florist': 34517.0, 'Singer': 35217.0, 'Aeroplane Pilot': 170466.0, 'Botanist': 71617.0, 'Geologist': 48786.0, 'Astronomer': 44826.0, 'Firefighter': 36761.0, 'Fine Artist': 28181.0, 'Baker': 28549.0, 'Journalist': 90183.0, 'Producer': 120285.0, 'Economist': 146217.0, 'Mechanic': 19414.0, 'Chef': 95533.0}

# Exercise 5:

1. Use a `lambda` function and `filter` to keep only citizens with 'Doctoral' educational level.
2. Use a user defined function to obtain the same output

The output in both cases should be:

```python
[{'First Name': 'Preston',
  'Last Name': 'Cunningham',
  'Age': 49,
  'Education': 'Doctoral',
  'Occupation': ' Teacher',
  'Experience (Years)': 6,
  'Salary': 62499},
 {'First Name': 'Chester',
  'Last Name': 'Bennett',
  'Age': 42,
  'Education': 'Doctoral',
  'Occupation': 'Astronomer',
  'Experience (Years)': 13,
  'Salary': 44826},
 {'First Name': 'Blake',
  'Last Name': 'Tucker',
  'Age': 42,
  'Education': 'Doctoral',
  'Occupation': 'Firefighter',
  'Experience (Years)': 21,
  'Salary': 36761},
 {'First Name': 'Alan',
  'Last Name': 'Sullivan',
  'Age': 46,
  'Education': 'Doctoral',
  'Occupation': 'Singer',
  'Experience (Years)': 2,
  'Salary': 18440},
 {'First Name': 'Sofia',
  'Last Name': 'Hall',
  'Age': 41,
  'Education': 'Doctoral',
  'Occupation': 'Baker',
  'Experience (Years)': 1,
  'Salary': 25904}]
```

In [26]:
#parte 1

l_n = list(filter(lambda x:  x['Education'] == 'Doctoral', citizens ))

print(l_n)
print('\n')
#parte 2
def filtrar_dict():
    dic1 = []
    for i in citizens:
        if i['Education'] == 'Doctoral':
            dic1.append(i)
    return dic1
d_lista = filtrar_dict()
print(d_lista)

[{'First Name': 'Preston', 'Last Name': 'Cunningham', 'Age': 49, 'Education': 'Doctoral', 'Occupation': ' Teacher', 'Experience (Years)': 6, 'Salary': 62499}, {'First Name': 'Chester', 'Last Name': 'Bennett', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Astronomer', 'Experience (Years)': 13, 'Salary': 44826}, {'First Name': 'Blake', 'Last Name': 'Tucker', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Firefighter', 'Experience (Years)': 21, 'Salary': 36761}, {'First Name': 'Alan', 'Last Name': 'Sullivan', 'Age': 46, 'Education': 'Doctoral', 'Occupation': 'Singer', 'Experience (Years)': 2, 'Salary': 18440}, {'First Name': 'Sofia', 'Last Name': 'Hall', 'Age': 41, 'Education': 'Doctoral', 'Occupation': 'Baker', 'Experience (Years)': 1, 'Salary': 25904}]


[{'First Name': 'Preston', 'Last Name': 'Cunningham', 'Age': 49, 'Education': 'Doctoral', 'Occupation': ' Teacher', 'Experience (Years)': 6, 'Salary': 62499}, {'First Name': 'Chester', 'Last Name': 'Bennett', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Astronomer', 'Experience (Years)': 13, 'Salary': 44826}, {'First Name': 'Blake', 'Last Name': 'Tucker', 'Age': 42, 'Education': 'Doctoral', 'Occupation': 'Firefighter', 'Experience (Years)': 21, 'Salary': 36761}, {'First Name': 'Alan', 'Last Name': 'Sullivan', 'Age': 46, 'Education': 'Doctoral', 'Occupation': 'Singer', 'Experience (Years)': 2, 'Salary': 18440}, {'First Name': 'Sofia', 'Last Name': 'Hall', 'Age': 41, 'Education': 'Doctoral', 'Occupation': 'Baker', 'Experience (Years)': 1, 'Salary': 25904}]

# Exercise 6:

1. Use a `lambda` function alongside with `map()` to get a list of strings with the following pattern:

"First Name is number_of_years years old"

The expected output should be:

```python
['Preston Cunningham is 49 years old',
 'Madaline Farrell is 41 years old',
 'Eleanor Carter is 49 years old',
 'Adison Hall is 42 years old',
 'Grace Cooper is 49 years old',
 'Alford Kelley is 49 years old',
 'Vincent Anderson is 47 years old',
 'Myra Wright is 45 years old',
 'Chester Bennett is 42 years old',
 'Blake Tucker is 42 years old',
 'Paige Ryan is 43 years old',
 'Natalie Ellis is 45 years old',
 'Martin Thompson is 47 years old',
 'Alan Sullivan is 46 years old',
 'Inga Bergman is 41 years old',
 'Freddy Brown is 48 years old',
 'Adelaide Farrell is 42 years old',
 'Luke Cooper is 40 years old',
 'Sofia Hall is 41 years old',
 'Ashton Kelly is 49 years old']
```

Hint: use `str()` to cast an integer into a string.

In [32]:
nom_edad = list(map(lambda x: str(x['First Name']) + ' '+ str(x['Last Name']) + ' is ' + str(x['Age']) + ' years old', citizens ))
nom_edad

['Preston Cunningham is 49 years old',
 'Madaline Farrell is 41 years old',
 'Eleanor Carter is 49 years old',
 'Adison Hall is 42 years old',
 'Grace Cooper is 49 years old',
 'Alford Kelley is 49 years old',
 'Vincent Anderson is 47 years old',
 'Myra Wright is 45 years old',
 'Chester Bennett is 42 years old',
 'Blake Tucker is 42 years old',
 'Paige Ryan is 43 years old',
 'Natalie Ellis is 45 years old',
 'Martin Thompson is 47 years old',
 'Alan Sullivan is 46 years old',
 'Inga Bergman is 41 years old',
 'Freddy Brown is 48 years old',
 'Adelaide Farrell is 42 years old',
 'Luke Cooper is 40 years old',
 'Sofia Hall is 41 years old',
 'Ashton Kelly is 49 years old']